In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
278,tt0436339,150000000,292817841,G-Force,Sam Rockwell|PenÃ©lope Cruz|Tracy Morgan|Jon F...,Hoyt Yeatman,The world needs bigger heroes,"A team of trained secret agent animals, guinea...",88,Fantasy|Action|Adventure|Family|Comedy,Walt Disney Pictures|Jerry Bruckheimer Films|W...,7/21/2009,5.1,2009
847,tt1726669,10000000,3665069,Killer Joe,Matthew McConaughey|Emile Hirsch|Thomas Haden ...,William Friedkin,A Totally Deep-Fried Texas Redneck Trailer Par...,A cop (Matthew McConaughey) who moonlights as ...,102,Drama|Thriller,Voltage pictures|Worldview Entertainment|ANA M...,9/10/2011,6.3,2011
1600,tt0414852,12000000,9584131,Banlieue 13,David Belle|Cyril Raffaelli|Tony D'Amario|Dany...,Pierre Morel,Welcome to District B13. Welcome to the future,"Set in the ghettos of Paris in 2010, an underc...",84,Action|Thriller|Science Fiction,Canal Plus|TF1 Films Production|EuropaCorp,11/9/2004,6.5,2004
1528,tt0446046,30000000,34742066,Take the Lead,Antonio Banderas|Rob Brown|Yaya DaCosta|Alfre ...,Liz Friedlander,Never Follow,A former professional dancer volunteers to tea...,108,Music,New Line Cinema|Tiara Blu Films,3/17/2006,6.4,2006
1526,tt0393735,50000000,61112916,The Shaggy Dog,Tim Allen|Kristin Davis|Danny Glover|Spencer B...,Brian Robbins,It's going to be a ruff day.,The tale of a workaholic dad-turned-dog who fi...,98,Comedy|Family,Walt Disney Pictures|Mandeville Films|Boxing C...,3/9/2006,4.6,2006

# Предобработка

In [3]:
import collections
import itertools
answers = {}  # создадим словарь для ответов
# предобработки колонок:


data['profit'] = data['revenue']-data['budget']  # добавляем колонку profit


# Добавляем функцию, чтобы создать колонку "месяц"
def month(data):
    return data[:data.find('/')]


# создаем колонку "месяц"
data['month'] = data['release_date'].apply(month)
# display(data)

# создаем колонку - длина фильмов (для вопроса 24)
data['original_title_len'] = data['original_title'].apply(len)

# создаем колонку - длина количества слов в overview (для вопроса 25)
data['overview_len'] = data['overview'].apply(lambda x: len(x.split()))
display(data)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,original_title_len,overview_len
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810,6,14,26
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354,5,18,110
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201,3,9,22
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225,12,28,26
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360,4,9,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717,7,5,27
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000,-8444012,10,18,75
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000,-40865180,6,36,58
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000,-3962091,2,10,24
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000,-9782502,7,12,43

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [4]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример:
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'#+
# если ответили верно, можете добавить комментарий со значком "+"

In [5]:
# тут пишем ваш код для решения данного вопроса:
"'сортируем колонку бюджет,выводим значение'"
answer_1 = data[data['budget'] ==
                data['budget'].max()]['original_title'].values[0]
display(answer_1)

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [6]:
# думаю логику работы с этим словарем вы уже поняли,
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'#+

In [7]:
"'сортируем колонку длительность, выводим значение'"
answer_2 = data[data['runtime'] ==
                data['runtime'].max()]['original_title'].values[0]
display(answer_2)

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [8]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'#+

In [9]:
"'аналогично заданию 2, только ищем минимальное значение'"
answer_3 = data[data['runtime'] ==
                data['runtime'].min()]['original_title'].values[0]
display(answer_3)

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [10]:
answers['4'] = '2. 110'#+

In [11]:
"'ищем среднюю длительность, округляем'"
answer_4 = round(data['runtime'].mean())
display(answer_4)

110

# 5. Каково медианное значение длительности фильмов?

In [12]:
answers['5'] = '1. 107'#+

In [13]:
"'ищем медиану,округляем'"
answer_5 = round(data['runtime'].median())
display(answer_5)

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [14]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '5. Avatar (tt0499549)'#+

In [15]:
"'в предобработке создал колонкю бюджет, отсортировал колонку по максимальному значению, вывел на экран'"
answer_6 = data[data['profit'] ==
                data['profit'].max()]['original_title'].values[0]
display(answer_6)

'Avatar'

# 7. Какой фильм самый убыточный?

In [16]:
answers['7'] = '5. The Lone Ranger (tt1210819)'#+

In [17]:
"'аналогично с п.6 только вывел минимальное значение'"
answer_7 = data[data['profit'] ==
                data['profit'].min()]['original_title'].values[0]
display(answer_7)

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [18]:
answers['8'] = '1. 1478'#+

In [19]:
"'объем сборов выше бюджета - значит прибыль >0. Сортируем дф по этому условию, считаем количество значений'"
answer_8 = data.query('profit>0')['imdb_id'].count()
display(answer_8)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [20]:
answers['9'] = '4. The Dark Knight (tt0468569)'#+

In [21]:
"'сортируем дф по году, ищем максимальный кассовый сбор, выводим название фильма'"
data_2008 = data.query('release_year==2008')
answer_9 = data_2008[data_2008['revenue'] ==
                     data_2008['revenue'].max()]['original_title'].values[0]
display(answer_9)

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [22]:
answers['10'] = '5. The Lone Ranger (tt1210819)'#+

In [23]:
"'аналогично с п.9, только сортируем по нескольким года и ищем минимальное значение прибыли'"
data_2012_14 = data.query('release_year in [2012,2013,2014]')
answer_10 = data_2012_14[data_2012_14['profit'] ==
                         data_2012_14['profit'].min()]['original_title'].values[0]
display(answer_10)

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [24]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '3. Drama'#+

In [25]:
"'соединяем все строки дф колонки жанр, создем список, разделяя по |, далее делаем из этого серию, где индекс - жанр фильма, а частота его появления - это значение. поскольку все по умолчанию отсортировано по убыванию, выводим первый индекс'"
answer_11 = pd.Series(data['genres'].str.cat(
    sep='|').split('|')).value_counts().index[0]
display(answer_11)

'Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [26]:
answers['12'] = '1. Drama'#+

In [27]:
"'аналогично с 11, только предварительно сортируем дф по прибыли большей 0 (прибыльный фильм)'"
data_12 = data[data['profit'] > 0]
answer_12 = pd.Series(data_12['genres'].str.cat(
    sep='|').split('|')).value_counts().index[0]
display(answer_12)

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [28]:
answers['13'] = '5. Peter Jackson'#+

In [29]:
"'выяснилось, что у одного фильма может быть несколько режисеров. поэтому сначала проводим преобразования как в п. 11. Далее пишем функцию, которая перебирает серию и присваивает значение кассового сбора режиссеру, если он снимал фильм. далее кассовые собры суммируются. Потом сортируем полученную серию по убыванию и выводим первый индекс'"
directors = pd.Series(data['director'].str.cat(
    sep='|').split('|')).value_counts()
for director in directors.index:
    directors[director] = data['revenue'][data['director'].apply(
        lambda x: True if director in x else False)].sum()
answer_13 = directors.sort_values(ascending=False).index[0]
display(answer_13)

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [30]:
answers['14'] = '3. Robert Rodriguez'#+

In [31]:
"'аналогично п.11, только сначала сортируем дф по жанру, если он включает Action'"
data_14 = data[data['genres'].str.contains("Action")]
directors = pd.Series(data_14['director'].str.cat(
    sep='|').split('|')).value_counts()
answer_14 = directors.index[0]
display(answer_14)

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [32]:
answers['15'] = '3. Chris Hemsworth'#+

In [33]:
"'аналогично п.13, только сначала сортируем дф по году'"
data_15 = data.query('release_year==2012')
cast = pd.Series(data_15['cast'].str.cat(sep='|').split('|')).value_counts()
for actor in cast.index:
    cast[actor] = data_15['revenue'][data_15['cast'].apply(
        lambda x: True if actor in x else False)].sum()
answer_15 = cast.sort_values(ascending=False).index[0]
display(answer_15)

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [34]:
answers['16'] = '3. Matt Damon'#+

In [35]:
"'аналогично п.15, только оставляем в дф высокобюджетные фильмы (бюджем больше среднего бюджема)'"
data_16 = data[data['budget'] > data['budget'].mean()]
answer_16 = pd.Series(data_16['cast'].str.cat(
    sep='|').split('|')).value_counts().index[0]
display(answer_16)

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [36]:
answers['17'] = '2. Action'#+

In [37]:
"'сортируем по Кейджу, разбиваем жанры и ищем тот, который встречается больше всего'"
data_17 = data[data['cast'].str.contains("Nicolas Cage")]
answer_17 = pd.Series(data_17['genres'].str.cat(
    sep='|').split('|')).value_counts().index[0]
display(answer_17)

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [38]:
answers['18'] = '1. K-19: The Widowmaker'#+

In [39]:
"'оставляем в дф только фильмы с Парамаунт, далее сортируем колонку Прибыль по возрастанию'"
answer_18 = data[data['production_companies'].str.contains(
    "Paramount Pictures")].sort_values('profit', ascending=True)['original_title'].values[0]
display(answer_18)

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [40]:
answers['19'] = '5. 2015'#+

In [41]:
"'создаем группировкой серию, где значению каждого года равняется суммарной прибыли. сортируем по убыванию, выводим первый индекс'"
answer_19 = data.groupby(['release_year'])[
    'revenue'].sum().sort_values(ascending=False).index[0]
display(answer_19)

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [42]:
answers['20'] = '1. 2014 '#+

In [43]:
"'аналогично п.19 группируем дф, предварительно отсортировав его по наличию Warner Bros в Production companies'"
data_20 = data[data['production_companies'].str.contains("Warner Bros")]
answer_20 = data_20.groupby(['release_year'])[
    'profit'].sum().sort_values(ascending=False).index[0]
display(answer_20)

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [44]:
answers['21'] = '4. Сентябрь'#+

In [45]:
"'в предобработке мы создали новую колонку, которая содержит номер месяца. группируем дф по месяцу и количеству фильмов в данном месяце. получившийся итог сортируем'"
answer_12 = data.groupby(['month'])['original_title'].count(
).sort_values(ascending=False).index[0]
display(answer_12)

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [46]:
answers['22'] = '2. 450'#+

In [47]:
"'сортируем дф по условию, подсчитываем количество'"
answer_22 = data.query('month in ["6","7","8"]')['original_title'].count()
display(answer_22)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [48]:
answers['23'] = '5. Peter Jackson'#+

In [49]:
"'сортируем дф по нужным месяцам, далее действуем аналогично п.11'"
data_23 = data.query('month in ["12","1","2"]')
answer_23 = pd.Series(data_23['director'].str.cat(
    sep="|").split('|')).value_counts().index[0]
# display(data_23)
display(answer_23)

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [50]:
answers['24'] = '5. Four By Two Productions'#+

In [51]:
"'в предобработке создал колонку с длинной названия фильмов. далее действуем аналогично п.13, только ищем не сумму, а среднее значение. получившийся итог сортируем'"
companies = pd.Series(data['production_companies'].str.cat(
    sep="|").split('|')).value_counts()
for company in companies.index:
    companies[company] = data['original_title_len'][data['production_companies'].apply(
        lambda x: True if company in x else False)].mean()
answer_24 = companies.sort_values(ascending=False).index[0]
display(answer_24)

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [52]:
answers['25'] = '3. Midnight Picture Show'#+

In [53]:
"'в предобработке создал колонку для расчета длины описания по количеству слов. далее аналогично п.24. Признаться формулировка - в среднем самые длинные несколько смущает'"
companies = pd.Series(data['production_companies'].str.cat(
    sep="|").split('|')).value_counts()
for company in companies.index:
    companies[company] = data['overview_len'][data['production_companies'].apply(
        lambda x: True if company in x else False)].mean()
answer_25 = companies.sort_values(ascending=False).index[0]
display(answer_25)

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [54]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'#+

In [55]:
"'сортируем дф по рейтингу, по убыванию, оставив интересующие колонки. выводим 1%, который получил через len(). далее создал список всех ответов и вывел дф, в котором есть пересечения.'"
data_26 = data.sort_values('vote_average', ascending=False)[
    ['original_title', 'vote_average']].head(round(len(data)*0.01))
reply = 'Inside Out,The Dark Knight,12 Years a Slave,BloodRayne,The Adventures of Rocky & Bullwinkle,Batman Begins,The Lord of the Rings: The Return of the King,Upside Down,300,Lucky Number Slevin,Kill Bill: Vol. 1,Upside Down,Inside Out,Iron Man'.split(
    ',')
data_26.query('original_title in @reply')

                                     original_title  vote_average
599                                 The Dark Knight           8.1
9                                        Inside Out           8.0
1191                               12 Years a Slave           7.9
1081  The Lord of the Rings: The Return of the King           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [56]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'#+

In [57]:
"'Было тяжело, спасибо Слаку за намеки. Создал дф в котором убрал разделитель актеров |, далее в этом датафрейме создал колонку пары, где были все возможные пары элементов.'"
"'дальше создал список, где были пары актеров со всего дф. Поскольку это был список списков, все привел к одному списку, из которого сделал словарь, где для каждой пары была частота появлений'"

actors = pd.DataFrame(data['cast'].str.split('|'))
actors['pair'] = data['cast'].apply(
    lambda x: list(itertools.combinations(x.split('|'), 2)))

pair_list = list(actors['pair'])
new_pair = []

for pairs in pair_list:
    for pair in pairs:
        new_pair.append(pair)

c = collections.Counter()
for name in new_pair:
    c[name] += 1
# print(c)

ВАРИАНТ 2

# Submission

In [58]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker',
 '19': '5. 2015',
 '20': '1. 2014 ',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [59]:
# и убедиться что ни чего не пропустил)
len(answers)

27